/*
Acomodar los estilos
1.Posicionamiento
2.Modelo De Caja(Box Model): Margin PADDING With Heigth
3.Tipografía: Position absolute relate
4.Visuales: Shadow box...
5.Otros
*/

:root{
    /* Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}

/* Box sizing*/
*{
    box-sizing: border-box;
    padding:0;
}

/* Fuentes */
html{
    font-size:62.5%; /*Poder trabajar con r.e.m Medida relativa en fuentes*/
    font-family: "DM Sans", sans-serif;
}